.alerta-error .gritter-bottom,.alerta-error .gritter-item,.alerta-error .gritter-top {
    background: rgba(220, 51, 18, 0.9)!important;
    }
    
    .alerta-error .gritter-item p {
        color: #FFF;
        font-size: 11px;
    }
    
    .alerta-error .gritter-title {
        font-size: 13px!important;
        font-weight:bold !important;
    }
    
    .login-cover, .login-cover-bg, .login-cover-image {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: background .2s linear;
        -webkit-animation: background_zoom 120s infinite linear;
        animation: background_zoom 120s infinite linear;
    }
    
    .login.login-v2 .login-content {
        padding: 20px;
        width: 350px;
    }
    .login .login-content {
        padding: 30px 40px;
        color: #999;
        width: 450px;
        margin: 0 auto;
    }
    
    .login.login-v2 .login-header, .login.login-v2 .login-header .brand, .login.login-v2 .login-header .brand small {
        color: #fff;
    }
    .login.login-v2 .login-header {
        width: 350px;
        padding: 0 20px;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        position: relative;
    }
    .login .login-header {
        position: absolute;
        top: -80px;
        left: 50%;
        right: 0;
        width: 450px;
        padding: 0 40px;
        margin-left: -225px;
        font-weight: 300;
    }
    
    .login.login-v2 .login-header .icon {
        opacity: .4;
        right: 4px;
        top: 13px;
    }
        
    .login.login-v2 .form-control {
        background: rgba(0,0,0,.5);
        border: 1px solid transparent;
        color: #fff;
    }
    .form-control.form-control-lg, .form-control.input-lg {
        font-size: 14px;
    }
    
    .form-control {
        border: 1px solid #d3d8de;
        box-shadow: none;
        font-size: 12px;
        line-height: 1.42857143;
        height: 34px;
        padding: 6px 12px;
    }
    .form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-prepend>.input-group-text {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    
    .form-control-lg{
        height: 46px;
        padding: 10px 16px;
        line-height: 1.3333333;
        border-radius: 6px;
    }
    
    .login-cover-bg {
        background: rgba(0, 0, 0, 0.39);
    }
    
    .btn.btn-lg, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-prepend>.btn {
        font-size: 16px;
        line-height: 24px;
        padding: 10px 16px;
    }
    
    .btn-block {
        display: block;
        width: 100%;
    }
        
    @-webkit-keyframes background_zoom{
      0% {transform:scale(1) rotate(0deg)}
      50% {transform:scale(1.4) rotate(0.3deg)}
      100% {transform:scale(1) rotate(0deg)}
    }
    
    @keyframes background_zoom{
      0% {transform:scale(1) rotate(0deg)}
      50% {transform:scale(1.4) rotate(0.3deg)}
      100% {transform:scale(1) rotate(0deg)}
    }